* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

ul li{
text-decoration: none;
}

/* Hide scrollbar for Chrome, Safari */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge */
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


